@use "/src/sass/base/variables.scss" as *;

.header {
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__icons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    a {
      display: block;
      color: $dark;
      span {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
  &__nav {
    display: none;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-right: 35px;
  height: 23px;
  span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: $dark;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__nav {
      display: block;
      margin-top: 20px;
      ul {
        justify-content: center;
        gap: 30px;
        display: flex;
        padding-left: 0;
        // --в страндартном списке всегда имется с лева отступ который задается страндартом и мы его можем отключить с помощью падинга
        li {
          list-style-type: none;
        }
      }
    }
    &__link {
      color: $dark;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  .burger {
    visibility: hidden;
    // ---это скроет бургер но не удалит его и не сломает верстку
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__logo {
      width: 150px;
      height: 151px;
    }
    &__nav {
      margin-top: 36px;
      ul {
        gap: 60px;
      }
    }
  }
}
